<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Swaad</h1>
    <form action="/sub" method="post">
       <input type="text" name="dish" placeholder="what do you want to eat">
       <input type="text" name="ing1" placeholder="Type your available ingredients">
       <input type="text" name="ing2" placeholder="Type your available ingredients">
       <input type="text" name="ing3" placeholder="Type your available ingredients">
       <input type="submit">
    </form>
</body>
</html>
